html {
  background-color: #ffdacc;
  font-family: fantasy;
  font-weight: bold;
  color: #4d4d4d;
}

.home {
  background-color: #ffdacc;
}

.column {
  width: 400px;
  float: left;
  margin: 12px;
  font-family: Comic Sans ms;
  color: #483D8B;
  background-color: #FFF8DC;
  padding: 2px;
  border: 2px solid darkseagreen;
  height: 1513px;
}

.img_1 {
  height: 300px;
  width: 22%;
  padding-left: 2%;
}

.img_2 {
  width: 275px;
  padding-left: 6px;
}

.intro {
  line-height: 2px;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  color: #48D1CC;
}

.special{
  font-weight: bold;
  color: magenta;
}

nav {
  padding-left: 45%;
}

nav ul {
  padding: 5px;
  float: left;
  list-style-type: none;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  height: 10px;
  padding: 12px 18px 8px 18px;
  vertical-align: middle;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: maroon;
}

h2 {
  text-align: center;
}

h3 {
  font-family: Comic Sans MS;
  padding: 20px;
}
section {
  float: left;
}

.winner {
  padding-left: 42%;
  text-align: center;
}


@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: maroon;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
